{% load static %}
<head>
	<title> Django App </title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
        	<div class = "col-md-4 col-lg-4 col-sm-12 col-xs-12 sidebar">
                <center>
                <h2> Menu </h2>
                <div class="sidebar-button"><h2><a href="/contact">Contact</a></h2></div>
                <div class="sidebar-button"><h2><a href="/privacy-policy">Privacy</a></h2></div>
                <div class="sidebar-button"><h2><a href="/contact">About</a></h2></div>
                This is a website made in Django to play around with stuff. Began out as a blog and has a bunch of pretty random places now. Why am I typing all this here? Because lorem ipsum placeholders are lame.
            </center>
        	</div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="footer">
    	<div class = "row">
    		<div class = "col-md-6 col-lg-8 col-sm-12 col-xs-12">
    			<a href="/about">About </a>
    			<a href="/privacy-policy" style="margin-left: 2.5em">Privacy Policy </a>
    			<a href="/contact" style="margin-left: 2.5em">Contact </a>
    		</div>
    		<div class = "col-md-6 col-lg-4 col-sm-12 col-xs-12">
    			© 2018 All Rights Reserved.
    		</div>
    		
    	</div>
    </div>
</body>